/* RTL logo-menu section
-------------------------------------------------- */
body.rtl section.banner 
	height 300px
	width inherit
	margin 10px auto 0
	bottom 0
	padding-top 1px
	position absolute
	top 0
	left 0
	right 0
	z-index 50
 
body.rtl nav menu 
	background-image url('images/menu-bg.png')
	background-repeat no-repeat
	width 681px
	height 133px
	position absolute
	top -117px
	left 0
	right 0
	margin 0 auto
	//transition  all 2s

body.rtl menu li 
	float right

body.rtl menu li.item1 
	margin-right 120px
	margin-top 49px
body.rtl menu li.item2 
	margin-top 43px
body.rtl menu li.item3 
	margin-top 36px
body.rtl menu li.item4 
	margin-top 33px
body.rtl menu li.item5 
	margin-top 36px
body.rtl menu li.item6 
	margin-top 43px
body.rtl menu li.item7 
	margin-top 49px

body.rtl nav li a 
	display			 block
	text-transform	 uppercase
	text-decoration	 none
	color			 #6E1312
	padding			 5px 15px 6px
	font-family		 nazanin
	font-size		 20px

body.rtl nav li:hover a 
	color red

body.rtl figure#logo 
	background-image  url(images/logo.png)
	position absolute
	top 118px
	left 0
	right 0
	margin 0 auto
	width 201px
	height 181px
	opacity 0
	display none
	//transition  all 2s
	
/* LTR logo-menu section
-------------------------------------------------- */
body.ltr section.banner 
	height 300px
	width inherit
	margin 10px auto 0
	bottom 0
	padding-top 1px
	position absolute
	top 0
	left 0
	right 0
	z-index 50
 
body.ltr nav menu 
	background-image url('images/menu-bg.png')
	background-repeat no-repeat
	width 681px
	height 133px
	position fixed
	top -117px
	left 0
	right 0
	margin 0 auto
	//transition  all 2s

body.ltr menu li 
	float left

body.ltr menu li.item1 
	margin-left 30px
	margin-top 49px
body.ltr menu li.item2 
	margin-top 43px
body.ltr menu li.item3 
	margin-top 36px
body.ltr menu li.item4 
	margin-top 33px
body.ltr menu li.item5 
	margin-top 36px
body.ltr menu li.item6 
	margin-top 43px
body.ltr menu li.item7 
	margin-top 49px

body.ltr nav li a 
	display			 block
	text-transform	 capitalize
	text-decoration	 none
	color			 #6E1312
	padding		 9px 10px 6px
	font-weight		 bold
	font-size		 14px

body.ltr nav li:hover a 
	color red

body.ltr #logo 
	background-image  url(images/logo.png)
	position fixed
	top 118px
	left 0
	right 0
	margin 0 auto
	width 201px
	height 181px
	opacity 0
	display none
	//transition  all 2s
	
